Checks: |
  *
  -readability-*
  -llvmlibc-*

  -altera-id-dependent-backward-branch
  -altera-struct-pack-align
  -altera-unroll-loops
  -bugprone-branch-clone
  -bugprone-easily-swappable-parameters
  -bugprone-reserved-identifier
  -cert-dcl37-c
  -cert-dcl51-cpp
  -clang-analyzer-security.insecureAPI.DeprecatedOrUnsafeBufferHandling
  -cppcoreguidelines-avoid-magic-numbers
  -cppcoreguidelines-init-variables
  -eadability-avoid-unconditional-preprocessor-if
  -google-readability-braces-around-statements
  -hicpp-braces-around-statements
  -hicpp-signed-bitwise
  -hicpp-uppercase-literal-suffix
  -llvm-else-after-return
  -llvm-header-guard
  -misc-confusable-identifiers
  -misc-no-recursion

  -cppcoreguidelines-avoid-do-while
  -cppcoreguidelines-avoid-goto
  -cppcoreguidelines-macro-usage
  -cppcoreguidelines-no-malloc
  -cppcoreguidelines-owning-memory
  -cppcoreguidelines-pro-bounds-constant-array-index
  -cppcoreguidelines-pro-bounds-pointer-arithmetic
  -cppcoreguidelines-pro-type-union-access
  -hicpp-avoid-goto
  -hicpp-deprecated-headers
  -hicpp-no-malloc
  -misc-use-anonymous-namespace
  -modernize-deprecated-headers
  -modernize-redundant-void-arg
  -modernize-use-using
  -modernize-use-bool-literals

  -bugprone-unhandled-self-assignment
  -cert-oop54-cpp
  -cppcoreguidelines-avoid-c-arrays
  -cppcoreguidelines-avoid-const-or-ref-data-members
  -cppcoreguidelines-pro-bounds-array-to-pointer-decay
  -cppcoreguidelines-pro-type-member-init
  -cppcoreguidelines-pro-type-reinterpret-cast
  -fuchsia-default-arguments-calls
  -fuchsia-default-arguments-declarations
  -fuchsia-overloaded-operator
  -google-explicit-constructor
  -hicpp-avoid-c-arrays
  -hicpp-explicit-conversions
  -hicpp-member-init
  -hicpp-no-array-decay
  -modernize-avoid-c-arrays
  -modernize-use-nodiscard
  -modernize-use-trailing-return-type
