# Mac OS specific
.DS_Store

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.vs
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

dev/**

# Build results
build*/**
Testing/**
out/**
CMakeSettings.json
